""" 推荐安装的插件: IdeaVim, IdeaVim-EasyMotion, IdeaVimExtension  
""" IDEA keymap, Down->Ctrl+j, Up->Ctrl+k, Code Completion Basic -> Ctrl+n
""" IDEA keymap, Hide Active Tool Window -> Space+v

let mapleader=" "
noremap <SPACE> <Nop>

" ==================== 基础与系统设置 ====================
" 重新加载配置
nnoremap \e :e ~/.ideavimrc<CR>
nnoremap \r :source ~/.ideavimrc<CR>

set number
set scrolloff=5
set ignorecase
set smartcase
set infercase
set wildignorecase
set incsearch
set hlsearch
" set relativenumber

" IdeaVim 专属特性
set ideamarks
set ideajoin
set idearefactormode=keep
set keep-english-in-normal-and-restore-in-insert
set clipboard=unnamedplus,ideaput

" 启用内置插件
set commentary
set surround
set matchit
Plug 'dbakker/vim-paragraph-motion'
Plug 'michaeljsmith/vim-indent-object'
Plug 'kana/vim-textobj-entire'

" 剪贴板与寄存器映射
inoremap <C-v> <C-r>+
cnoremap <C-v> <C-r>+

" ==================== 视图与光标移动 ====================
nnoremap Q gq
nnoremap H _
nnoremap L $

" 快速取消高亮
nnoremap <BS><BS> :noh<CR>
nnoremap ,<CR> :noh<CR>

" 代码折叠
nnoremap zc :action CollapseRegion<CR>
nnoremap zo :action ExpandRegion<CR>
nnoremap zC :action CollapseAllRegions<CR>
nnoremap zO :action ExpandAllRegions<CR>

" 历史修改跳转
nnoremap g; :action JumpToLastChange<CR>
nnoremap g, :action JumpToNextChange<CR>

" 方法与错误跳转
nnoremap [m :action MethodUp<CR>
nnoremap ]m :action MethodDown<CR>
nnoremap [s :action GotoPreviousError<CR>
nnoremap ]s :action GotoNextError<CR>

" ==================== 窗口与标签页管理 ====================
" 标签页切换
nnoremap <C-h> :action PreviousTab<CR>
nnoremap <C-l> :action NextTab<CR>
nnoremap <C-w> :action CloseContent<CR>

" 窗口分屏
nnoremap sv :action SplitVertically<CR>
nnoremap sh :action SplitHorizontally<CR>
nnoremap sc :action Unsplit<CR>
nnoremap so :action UnsplitAll<CR>

" 窗口间焦点切换 (使用 Vim 原生操作)
nnoremap <leader>k <C-w>k
nnoremap <leader>j <C-w>j
nnoremap <leader>h <C-w>h
nnoremap <leader>l <C-w>l

" 关闭其他编辑器与界面开关
nnoremap <leader>bo :action CloseAllEditorsButActive<CR>
nnoremap <leader>bl :action CloseAllToTheLeft<CR>
nnoremap <leader>br :action CloseAllToTheRight<CR>
nnoremap <leader>tc :action ActivateTerminalToolWindow<CR>
nnoremap ,z :action ToggleDistractionFreeMode<CR>

" ==================== 弹窗与文件检索 ====================
nnoremap <leader>s :action FileStructurePopup<CR>
" 显示最近打开的文件 (Recent Files)
map <leader>r <Action>(RecentFiles)
" 显示最近修改的文件 (Recent Changed Files)
nnoremap <leader>c :action RecentChangedFiles<CR>

" ==================== 插入与命令行模式导航 ====================
" 在插入模式下使用 C-j 和 C-k 替代上下方向键（完美支持代码补全列表）
inoremap <C-j> <Down>
inoremap <C-k> <Up>

" 在 Vim 命令行模式下（按 : 后）使用 C-j 和 C-k 浏览历史
cnoremap <C-j> <Down>
cnoremap <C-k> <Up>

" ==================== 搜索与导航 ====================
nnoremap <C-p> :action GotoFile<CR>
nnoremap <C-f> :action FindInPath<CR>
nnoremap <C-i> :action Forward<CR>
nnoremap <C-o> :action Back<CR>

nnoremap gd :action GotoDeclaration<CR>
nnoremap gD :action GotoTypeDeclaration<CR>
nnoremap gh :action QuickJavaDoc<CR>
nnoremap gH :action QuickAction<CR>
nnoremap gi :action GotoImplementation<CR>
nnoremap gu :action GotoSuperMethod<CR>
nnoremap gr :action ShowUsages<CR>
nnoremap ga :action ShowIntentionActions<CR>
nnoremap gn :action Generate<CR>
nnoremap gt :action GotoTest<CR>

" ==================== 重构与代码操作 ====================
nnoremap == :action ReformatCode<CR>
nnoremap -- :action OptimizeImports<CR>
nmap <leader>n <Action>(RenameElement)
vmap <leader>x <Action>(RefactoringMenu)

" ==================== Debug 模式 ====================
nnoremap <leader>dd :action Debug<CR>
nnoremap <leader>dc :action Resume<CR>
nnoremap <leader>ds :action Stop<CR>
nnoremap <leader>dn :action StepOver<CR>
nnoremap <leader>di :action StepInto<CR>
nnoremap <leader>do :action StepOut<CR>
nnoremap <leader>db :action ToggleLineBreakpoint<CR>

" ==================== 侧边栏 ====================
map <leader>e <Action>(SelectInProjectView)
" 打开/聚焦 Project 侧边栏；关闭需在 IDE Keymap 里绑定 Hide Active Tool Window
map <leader>v <Action>(ActivateProjectToolWindow)

" ==================== 扩展插件配置 ====================
Plug 'vim-scripts/argtextobj.vim'
let g:argtextobj_pairs="(:),{:},<:>"

" WhichKey
set which-key
let g:WhichKey_FontSize = 16
set notimeout

" Highlighted Yank
Plug 'machakann/vim-highlightedyank'
let g:highlightedyank_highlight_duration = "600"

" EasyMotion
Plug 'easymotion/vim-easymotion'
nmap f <Plug>(easymotion-f)
nmap F <Plug>(easymotion-F)
nmap t <Plug>(easymotion-t)
nmap T <Plug>(easymotion-T)
nmap w <Plug>(easymotion-w)
nmap b <Plug>(easymotion-b)
nmap gj <Plug>(easymotion-j)
nmap gk <Plug>(easymotion-k)
nmap gw <Plug>(easymotion-w)
nmap gb <Plug>(easymotion-b)
